* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  animation: fadeIn .2s ease-out;
  z-index: 1;
}

.modal-box {
  margin: 15% auto;
  width: 360px;
  height: 210px;
  background: #f7f7f7;
  padding: 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
  animation: dropDown .2s ease-in;
  opacity: 1;
  transform: translateY(0);
  border-radius: .5rem;
  z-index: 2;
}

.modal-box .close-modal-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
}

.modal-box .modal-header, .modal-box .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .5rem .5rem 0 0;
}

.modal-box .modal-header {
  background: white;
  padding: 1rem 1.5rem;
  background: rgb(0, 140, 255);
  color: white;
}

.modal-box .modal-header ion-icon {
  font-size: 1.5rem;
}

.close-modal-button:hover, .close-modal-button:focus {
  color: rgb(223, 0, 0);
  cursor: pointer;
  transition: color .5s ease;
}

.modal-body {
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.modal-box .modal-footer .clear-button{
  background: transparent;
  border-radius: .25rem;
  color: rgb(223, 0, 0);
  font-size: 1rem;
}

.modal-box .modal-footer .button-primary{
  background: transparent;
  border-radius: .25rem;
  color: rgb(0, 102, 255);
  font-size: 1rem;
}

@keyframes fadeIn {
  from {  opacity: 0; }
  to { opacity: 1; }
}

@keyframes dropDown {
  from {
    opacity: 0.5;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}